ul {
  list-style: none;
  padding: 0;
}

li {
  background-color: #fff;
  border: 2px solid #007bff;
  border-radius: 8px;
  padding: 12px 20px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: all 0.2s;
  text-align: center;
}

li:hover {
  background-color: #007bff;
  color: white;
}

.link {
    color: #e7feff;
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    background-color: #007bff;
    text-decoration: none;
}

.link:hover {
    background-color: #1d5692;
}
